{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>About</h1>
    </div>
    <div class="row">
        <div class="col-sm-8">
            Name: <strong>ChenTao<br/></strong>
            github: <strong><a href="https://github.com/MoonMonsters">MoonMonsters</a></strong><br/>
            email: <strong><a href="mailto:qxinhai@yeah.net">qxinhai@yeah.net</a></strong><br/><br/>
            后台查看账号，只有查看，没有提供增加、删除、修改等功能:<br/>
            username: <strong>admin001</strong><br/>
            password: <strong>123456</strong>

        </div>
        <div class="col-sm-4 sidebar">
            {% include "blog/_sidebar.html" %}
        </div>
    </div>
{% endblock %}